/node_modules
/Scripts/*/*.config.*
/Scripts/*/input/*
/Scripts/*/processing/*
/Scripts/*/output/*
/Scripts/*/stuff
/Tools/*
/Scripts/buildings/config/insertBuildingsIntoDB.config.json
/Scripts/buildings/config/prepareBuildings.config.json
/Scripts/sewers/config/insertSewersIntoDB.config.json
